<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="bizbeeOffice">
    <!-- <meta property="og:url" content="https://스마트비즈.com"> -->
    <meta property="og:type" content="website">
    <meta property="og:image" content="./assets/og-img.png">
    <meta property="og:description" content="기업경영 솔루션 개발.  IT솔루션, 경영컨설팅, 사이트구축/운영, 시스템유지보수">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <title>bizbee Office</title>
    <link rel="stylesheet" href="../style/css/link.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class='all-in-one-wrap'>
        <header class="header">
            <div class="logo">
                <img src="/assets/images/bizbee-office-logo.png" alt="로고">
            </div>
            <div class="header-right">
                <div class="program-contents-back-header">
                    <button class="pop-back-btn" onclick="profileToggle()">
                        <img src="../assets/icon/popup-back.svg" alt="뒤로가기">
                    </button>
                    <span class="pop-back-title">
                        마이 페이지
                    </span>
                </div>
                <div class="user-profile user-profile-btn" onclick="profileToggle()"  >
                    <span class="user-img">
                        <img src="../assets/icon/profile.svg" alt="프로필" class="user-default-img">
                    </span>
                    <span >
                        <span class="user-name"></span>님
                    </span>
                </div>
                <div class="select select-company corp-select-box">
                    <div class="selected">
                        <div class="selected-value input selected-corp">회사 선택</div>
                        <img src="/assets/icon/select.svg" alt="arrow" class="arrow">
                    </div>
                    <ul id="myCorp">
                        <li class="option-btn">
                            <button onclick="popupRegOpen(0)">
                                <img src="/assets/icon/option-btn.svg" alt="플러스">
                                회사 등록
                            </button>
                        </li>
                    </ul>
                </div>
                <a href="/sso-logout">
                    <button class="btn w logout">로그아웃</button>
                </a>
                <div class="user-profile-detail ">
                    <div class="user-profile-detail-header">
                        <span class="user-img">
                            <img src="/assets/icon/profile.svg" alt="프로필" class="user-default-img">
                        </span>
                        <span class="user-name"></span>
                    </div>
                    <div class="user-profile-detail-body">
                        <ul class="user-profile-detail-body-ul">
                            <li class="user-profile-detail-body-li">
                                <span class="user-profile-detail-body-title">
                                    <img src="./assets/icon/user-profile-detail-1.svg" alt="등급">
                                    회원등급
                                </span>
                                <span class="user-profile-detail-body-text c-y">
                                    통합회원
                                </span>
                            </li>
                            <li class="user-profile-detail-body-li">
                                <span class="user-profile-detail-body-title">
                                    <img src="./assets/icon/user-profile-detail-2.svg" alt="등급">
                                    회사명
                                </span>
                                <span class="user-profile-detail-body-text bold selected-corp" >
                                    선택된 회사가 없습니다.
                                </span>
                            </li>
                            <li class="user-profile-detail-body-li">
                                <span class="user-profile-detail-body-title">
                                    <img src="./assets/icon/user-profile-detail-3.svg" alt="등급">
                                    이메일
                                </span>
                                <span class="user-profile-detail-body-text">
                                    jaeyoung@bizbee.co.kr
                                </span>
                            </li>
                            <li class="user-profile-detail-body-li">
                                <span class="user-profile-detail-body-title">
                                    <img src="./assets/icon/user-profile-detail-4.svg" alt="등급">
                                    휴대폰번호
                                </span>
                                <span class="user-profile-detail-body-text">
                                    010-1234-5678
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <button class="btn yel"><a href="/changeInfo">정보 수정</a></button>
                        <a href="/sso-logout">
                            <button class="btn w">로그아웃</button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
            <div class="sidebar">
                <ul class="sidebar-ul">
                    <a href="/home" class="sidebar-li active">
                        <img src="/assets/icon/home-li.svg" alt="홈">
                    </a>
                    <a href='/qna ' class="sidebar-li">
                        <img src="/assets/icon/qna-li.svg" alt="자주하는질문">
                    </a>
                    <a href="/oneOnOne" class="sidebar-li">
                        <img src="/assets/icon/per-qna-li.svg" alt="1:1 문의">
                    </a>
                    <a href="/notice" class="sidebar-li">
                        <img src="/assets/icon/notice-li.svg" alt="공지사항">
                    </a>
                    <a href="/programIntro" class="sidebar-li">
                        <img src="/assets/icon/intro.svg" alt="제품소개">
                    </a>
                </ul>
            </div>
            <div class="contents">
                <div class="contents-box w intro-contents">
                    <div class="intro-contents-profile-box">
                        <div class="intro-contents-profile-img">
                            <img src="./assets/icon/profile.svg" alt="프로필">
                        </div>
                        <div class="intro-contents-col">
                            <div class="intro-contents-text-box">
                                <span class="intro-contents-text" id="largeName">
                                </span>
                                <a href="/changeInfo">
                                    <button class="icon-btn">
                                        <img src="./assets/icon/retouch.svg" alt="retouch">
                                    </button>
                                </a>
                            </div>
                            <div class="intro-contents-info">
                                <div class="intro-contents-info-flex">
                                    <img src="./assets/icon/memebership.svg" alt="회원종류">
                                    <span class="membership">통합회원</span>
                                </div>
                                <div class="intro-contents-info-flex">
                                    <img src="./assets/icon/company.svg" alt="회사이름">
                                    <span class="use-comapny selected-corp">선택된 회사가 없습니다.</span>
                                    <!-- <span class="use-comapny">주식회사 비즈비</span>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intro-contents-info mobile">
                        <div class="intro-contents-info-flex">
                            <img src="./assets/icon/memebership.svg" alt="회원종류">
                            <span class="membership">-</span>
                            <!-- <span class="membership">통합회원</span> -->
                        </div>
                        <div class="intro-contents-info-flex">
                            <img src="./assets/icon/company.svg" alt="회사이름">
                            <span class="blank">선택된 회사가 없습니다.</span>
                            <!-- <span class="use-comapny">주식회사 비즈비</span>  -->
                        </div>
                    </div>
                    <div class="intro-contents-btn-box">
                        <button class="btn yel middle" onclick="popupRegOpen(0)">회사 등록</button>
                        <button class="btn w middle" onclick="popupRegOpen(1)">회사 선택</button>
                    </div>
                </div>
                <div class="contents-box">
                    <div class="contents-box-title-row">
                        <span class="contents-box-title">
                            이용중인 서비스
                        </span>
                        <div class="select select-grey">
                            <div class="selected ">
                                <div class="selected-value input">최근</div>
                                <img src="/assets/icon/select.svg" alt="arrow" class="arrow">
                            </div>
                            <ul>
                                <li class="option selected-option">
                                    최근
                                </li>
                                <li class="option">
                                    이름순
                                </li>
                            </ul>
                          </div>
                    </div>
                    <div class="use-service">
                        <!-- 이용중인 프로그램 없을때 -->
                        <div class="use-service-blank-text">
                            <span>이용중인 서비스가 없습니다. <span>서비스를 이용하시려면  <button class="registration-btn" onclick="popupRegOpen(0)">회사를 등록</button>해 주세요. </span></span>
                        </div>
                        <!-- 이용중인 프로그램 있을때 -->
                        <div class="use-service-card-box">
                            <div  class="use-service-card">
                                <div class="use-service-logo">
                                    <img src="./assets/icon/use-service-erp.svg" alt="사용중인 프로그램">
                                </div>
                                <button class="use-service-btn ">
                                    <a href="">
                                        바로가기
                                        <img src="./assets/icon/link.svg" alt="바로가기 ">
                                    </a>
                                </button>
                            </div>
                            <div  class="use-service-card">
                                <div class="use-service-logo">
                                    <img src="./assets/icon/use-service-tax.svg" alt="사용중인 프로그램">
                                </div>
                                <button class="use-service-btn ">
                                    <a href="">
                                        바로가기
                                        <img src="./assets/icon/link.svg" alt="바로가기 ">
                                    </a>
                                </button>
                            </div>
                            <div  class="use-service-card">
                                <div class="use-service-logo">
                                    <img src="./assets/icon/use-service-office.svg" alt="사용중인 프로그램">
                                </div>
                                <button class="use-service-btn ">
                                    <a href="">
                                        바로가기
                                        <img src="./assets/icon/link.svg" alt="바로가기 ">
                                    </a>
                                </button>
                            </div>
                            <div  class="use-service-card">
                                <div class="use-service-logo">
                                    <img src="./assets/icon/use-service-works.svg" alt="사용중인 프로그램">
                                </div>
                                <button class="use-service-btn ">
                                    <a href="">
                                        바로가기
                                        <img src="./assets/icon/link.svg" alt="바로가기 ">
                                    </a>
                                </button>
                            </div>
                            <div  class="use-service-card">
                                <div class="use-service-logo">
                                    <img src="./assets/icon/use-service-taxbill.svg" alt="사용중인 프로그램">
                                </div>
                                <button class="use-service-btn ">
                                    <a href="">
                                        바로가기
                                        <img src="./assets/icon/link.svg" alt="바로가기 ">
                                    </a>
                                </button>
                            </div>
                            <div  class="use-service-card">
                                <div class="use-service-logo">
                                    <img src="./assets/icon/use-service-stay.svg" alt="사용중인 프로그램">
                                </div>
                                <button class="use-service-btn ">
                                    <a href="">
                                        바로가기
                                        <img src="./assets/icon/link.svg" alt="바로가기 ">
                                    </a>
                                </button>
                            </div>
                            <div  class="use-service-card">
                                <div class="use-service-logo">
                                    <img src="./assets/icon/use-service-stay.svg" alt="사용중인 프로그램">
                                </div>
                                <button class="use-service-btn ">
                                    <a href="">
                                        바로가기
                                        <img src="./assets/icon/link.svg" alt="바로가기 ">
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents-box">
                    <div class="contents-box-title-row">
                        <span class="contents-box-title">
                            도움이 필요하신가요?
                        </span>
                    </div>
                    <div class="contents-card-box">
                        <a class="contents-card" href="/qna">
                            <span class="contents-card-title">
                                자주하는 질문
                            </span>
                            <span class="contents-card-text">
                                궁금한 내용은 먼저<br>
                                이곳에서 확인해 주세요.
                            </span>
                            <div class="contents-card-icon">
                                <img src="./assets/icon/qna-card-1.svg" alt="카드-1">
                            </div>
                        </a>
                        <a class="contents-card" href="/oneOnOne">
                            <span class="contents-card-title">
                                1:1 문의하기
                            </span>
                            <span class="contents-card-text">
                                궁금한 사항을 남겨 주시면<br> 
빠르게 답변해 드리겠습니다.
                            </span>
                            <div class="contents-card-icon">
                                <img src="./assets/icon/qna-card-2.svg" alt="카드-1">
                            </div>
                        </a>
                        <a class="contents-card" href="/notice">
                            <span class="contents-card-title">
                                공지사항
                            </span>
                            <span class="contents-card-text">
                                비즈비 오피스의 새로운 소식을<br>
만나 보세요.
                            </span>
                            <div class="contents-card-icon">
                                <img src="./assets/icon/qna-card-3.svg" alt="카드-1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="contents-box">
                    <div class="contents-box-title-row">
                        <span class="contents-box-title">
                            이런 서비스는 어떠세요?
                        </span>
                        <div class="select select-grey">
                            <div class="selected ">
                                <div class="selected-value input">전체</div>
                                <img src="/assets/icon/select.svg" alt="arrow" class="arrow">
                            </div>
                            <ul>
                                <li class="option selected-option">
                                    전체
                                </li>
                                <li class="option">
                                    업무관리
                                </li>
                                <li class="option">
                                    커뮤니케이션
                                </li>
                                <li class="option">
                                    복지교육 및 대외업무
                                </li>
                            </ul>
                          </div>
                    </div>
                    <div class="contents-card-box service-intro-card-box">
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-erp.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                인사, 회계, 영업, 재고, 구매/자재, 생산 기능을 갖춘 ERP 솔루션 
                            </span>
                            <a href="https://smarterp.xn--hz2b15nba796a8tuprd.com/
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-lite.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                AI 기반 자동회계처리 솔루션. 간편한 거래(매출/매입)관리, 계좌 입/출금, 영수증 관리 
                            </span>
                            <!-- <but  -->
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-cfo.svg " alt="로고">
                            </span>
                            <span class="contents-card-text">
                                기업의 거래자료(매입/매출거래, 은행거래), 인건비 및 세금 납부 자료 자동 수집/조회 서비스
                            </span>
                            <a href="https://smart-cfo.net/ 
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-stay.svg " alt="로고">
                            </span>
                            <span class="contents-card-text">
                                모바일 기반의 근태관리 솔루션<br>
주 52시간, 유연 근로제 반영
                            </span>
                            <a href="http://smartstay.xn--hz2b15nba796a8tuprd.com/
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-taxBill.svg " alt="로고">
                            </span>
                            <span class="contents-card-text">
                                전자세금계산서 솔루션<br>
전자세금계산서 발행
                            </span>
                            <a href="https://smarttaxbill.com/RESTful/service
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-tax.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                bizbee ERP 법인세 계산 및 신고 
                            </span>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-office.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                세무사용 ERP <br>
수입고객관리, 민원관리, 결산리포트, 수입료관리
                            </span>
                            <span><!-- <a class="contents-card-btn">살펴보기 <img src="./assets/icon/link.svg " alt="바로가기"></a> --></span>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-works.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                그룹웨어 솔루션<br> 
메신저 및 커뮤니티 기반의 협업 솔루션
                            </span>
                            <!-- <a class="contents-card-b  -->
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-pms.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                프로젝트 관리에 소통 기능을 더한 협업 솔루션 
                            </span>
                            <a href="https://smartpms.co.kr/front/front.html
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-card.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                명함 촬영을 통해 자동으로 연락처를 등록하고 공유하는 서비스
                            </span>
                            <a class="contents-card-btn" href="https://blog.naver.com/smart-bc
                            " target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-esign.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                클릭 몇 번으로 계약 업무를 간단하게 처리하고 편리하게 관리할 수 있는 전자계약 서비스 
                            </span>
                            <a href="https://www.smart-esign.com/RESTful/service
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-edu.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                기업 전용 사이버 연수원 무료 구축부터<br> 
직무능력 향상을 위한 무료 교육까지- 

                            </span>
                            <a href="https://www.edupure.net/v/n0101.asp
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                        <div class="contents-card">
                            <span class="contents-card-logo">
                                <img src="./assets/icon/Bizbee-welfare.svg" alt="로고">
                            </span>
                            <span class="contents-card-text">
                                중소기업이 비용 부담없이 임직원을 위한 복지 서비스를
제공할 수 있도록 지원하는 서비스
                            </span>
                            <a href="https://www.smartwel.co.kr/
                            " class="contents-card-btn" target="_blank"><span>살펴보기</span> <img src="./assets/icon/link.svg " alt="바로가기"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-container">
                <div class="popup-bg"></div>
                <div class="popup popup-service">
                    <button class="popup-close" onclick="popupClose()">
                        <img src="./assets/icon/close-x.svg" alt="닫기">
                    </button>
                     <div class="popup-icon">
                        <img src="./assets/icon/service-icon.svg" alt="느낌표">
                     </div>
                     <span class="popup-text">
                        서비스를 이용하시려면 회사를 등록해 주세요.
                     </span>
                     <div class="popup-btn-box">
                        <button class="btn yel middle">회사 등록</button>
                     </div>
                </div>
                <div class="popup-table popup-registration ">
                    <div class="popup-header" >
                        <button class="pop-back-btn" onclick="popupClose()">
                            <img src="../assets/icon/popup-back.svg" alt="뒤로가기">
                        </button>
                        <span class="popup-header-title">
                            회사 등록
                        </span>
                        <button class="popup-header-close" onclick="popupClose()">
                            <img src="./assets/icon/close-x.svg" alt="닫기">
                        </button>
                    </div>
                    <div class="popup-body">
                        <div class="popup-input-row">
                            <div class="popup-input-box search-input">
                                <input type="search" class="popup-input" id="param" placeholder="회사코드로 검색">
                                <button class="search-input-btn" onclick="searchCorp(document.getElementById('param').value)">
                                    <img src="./assets/icon/search.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <span class="table-result">
                            총 <span class="num" id="corp-search-result">0</span> 건의 검색 결과
                        </span>
                        <div class="table-box">
                            <table class="table">
                                <colgroup>
                                <col>
                                <col>
                                <col>
                                <col width="80">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="th">회사명</th>
                                        <th class="th">사업자등록번호</th>
                                        <th class="th">대표자명</th>
                                        <th class="th">등록</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="corpCd" style="display: none"></td>
                                        <td class="td" id="corpNm">
                                        </td>
                                        <td class="td" id="corpRegNo">
                                        </td>
                                        <td class="td" id="ceoNm">
                                        </td>
                                        
                                        <td class="td" id="register-corp">
                                            <button id="insert-corp">등록</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class=""></ul>
                        <div class="table-btn-box">
                            <button class="middle yel btn" onclick="popupRegOpen(1)">다음</button>
                        </div>
                    </div>
                    <div class="complete-registration">
                        회사가 등록되었습니다.
                    </div>
                </div>
                <div class="popup-select popup-registration ">
                    <div class="popup-header">
                        <button class="pop-back-btn" onclick="popupClose()">
                            <img src="../assets/icon/popup-back.svg" alt="뒤로가기">
                        </button>
                        <span class="popup-header-title">
                            회사 선택
                        </span>
                        <button class="popup-header-close" onclick="popupClose()">
                            <img src="./assets/icon/close-x.svg" alt="닫기">
                        </button>
                    </div>
                    <div class="popup-body">
                        <span class="company-select-text">
                             서비스를 이용할 회사를 선택하세요.
                        </span>
                        <ul class="company-select-ul" id="my-corp-popup-ul">
<!--                            <li class="company-select-li">-->
<!--                                <span class="name">주식회사 비즈비</span>-->
<!--                                <div class="btn-box">-->
<!--                                    <button class="btn grey">삭제</button>-->
<!--                                    <button class="btn black">선택</button>-->
<!--                                </div>-->
<!--                            </li>-->
                        </ul>
                        <div class="table-btn-box">
                            <button class="middle yel btn" disabled>회사 선택 완료</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</body>
</html>
<script src="./script/main.js"></script>
