<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="bizbeeOffice">
    <!-- <meta property="og:url" content="https://스마트비즈.com"> -->
    <meta property="og:type" content="website">
    <meta property="og:image" content="../assets/og-img.png">
    <meta property="og:description" content="기업경영 솔루션 개발.  IT솔루션, 경영컨설팅, 사이트구축/운영, 시스템유지보수">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <title>bizbee Office</title>
    <link rel="stylesheet" href="../style/css/link.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class='all-in-one-wrap'>
        <header class="header">
            <div class="logo">
                <img src="/assets/images/bizbee-office-logo.png" alt="로고">
            </div>
            <div class="header-right">
                <div class="user-profile user-profile-btn" onclick="profileToggle()" >
                    <span class="user-img">
                        <img src="/assets/icon/profile.svg" alt="프로필" class="user-default-img">
                    </span>
                    <span >
                        <span class="user-name"></span>님
                    </span>
                    <div class="user-profile-detail ">
                        <div class="user-profile-detail-header">
                            <span class="user-img">
                                <img src="/assets/icon/profile.svg" alt="프로필" class="user-default-img">
                            </span>
                            <span class="user-name"></span>님
                        </div>
                        <div class="user-profile-detail-body">
                            <ul class="user-profile-detail-body-ul">
                                <li class="user-profile-detail-body-li">
                                    <span class="user-profile-detail-body-title">
                                        <img src="./assets/icon/user-profile-detail-1.svg" alt="등급">
                                        회원등급
                                    </span>
                                    <span class="user-profile-detail-body-text c-y">
                                        통합회원
                                    </span>
                                </li>
                                <li class="user-profile-detail-body-li">
                                    <span class="user-profile-detail-body-title">
                                        <img src="./assets/icon/user-profile-detail-2.svg" alt="등급">
                                        회사명
                                    </span>
                                    <span class="user-profile-detail-body-text bold">
                                        주식회사 비즈비
                                    </span>
                                </li>
                                <li class="user-profile-detail-body-li">
                                    <span class="user-profile-detail-body-title">
                                        <img src="./assets/icon/user-profile-detail-3.svg" alt="등급">
                                        이메일
                                    </span>
                                    <span class="user-profile-detail-body-text">
                                        jaeyoung@bizbee.co.kr
                                    </span>
                                </li>
                                <li class="user-profile-detail-body-li">
                                    <span class="user-profile-detail-body-title">
                                        <img src="./assets/icon/user-profile-detail-4.svg" alt="등급">
                                        휴대폰번호
                                    </span>
                                    <span class="user-profile-detail-body-text">
                                        010-1234-5678
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-box">
                            <button class="btn yel">정보 수정</button>
                            <button class="btn w">로그아웃</button>
                        </div>
                    </div>
                </div>
                <div class="select select-company">
                    <div class="selected ">
                        <div class="selected-value input">회사 선택</div>
                        <img src="/assets/icon/select.svg" alt="arrow" class="arrow">
                    </div>
                    <ul id="myCorp">

                    </ul>
                  </div>
                <button class="btn w">로그아웃</button>
            </div>
        </header>
        <div class="sidebar">
            <ul class="sidebar-ul">
                <a href="/home" class="sidebar-li">
                    <img src="/assets/icon/home-li.svg" alt="홈">
                </a>
                <a href='/qna ' class="sidebar-li active">
                    <img src="/assets/icon/qna-li.svg" alt="자주하는질문">
                </a>
                <a href="/oneOnOne" class="sidebar-li">
                    <img src="/assets/icon/per-qna-li.svg" alt="1:1 문의">
                </a>
                <a href="/notice" class="sidebar-li">
                    <img src="/assets/icon/notice-li.svg" alt="공지사항">
                </a>
                <a href="/programIntro" class="sidebar-li">
                    <img src="/assets/icon/intro.svg" alt="제품소개">
                </a>
            </ul>
        </div>
            <div class="contents">
                <span class="contents-title">
                    자주하는 질문
                </span>
                <div class="contents-box w">
                    <ul class="qna-ul ani-off ani-card">
                        <li class="qna-li">
                            <span class="qna-li-q">
                                 <img src="../assets/icon/qna-mark.svg" alt="q아이콘">ERP와 ERP Lite의 차이점은 무엇인가요?
                                 <span class="open-btn">
                                    <img src="../assets/icon/qna-arrow.svg" alt="아이콘">
                                 </span>
                            </span>
                            <span class="qna-li-a">
                                <span class="qna-li-a-text">
                                    비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 
                                </span>
                            </span>
                        </li>
                        <li class="qna-li">
                            <span class="qna-li-q">
                                 <img src="../assets/icon/qna-mark.svg" alt="q아이콘">ERP와 ERP Lite의 차이점은 무엇인가요?
                                 <span class="open-btn">
                                    <img src="../assets/icon/qna-arrow.svg" alt="아이콘">
                                 </span>
                            </span>
                            <span class="qna-li-a">
                                <span class="qna-li-a-text">
                                    비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 
                                </span>
                            </span>
                        </li>
                        <li class="qna-li">
                            <span class="qna-li-q">
                                 <img src="../assets/icon/qna-mark.svg" alt="q아이콘">ERP와 ERP Lite의 차이점은 무엇인가요?
                                 <span class="open-btn">
                                    <img src="../assets/icon/qna-arrow.svg" alt="아이콘">
                                 </span>
                            </span>
                            <span class="qna-li-a">
                                <span class="qna-li-a-text">
                                    비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 
                                </span>
                            </span>
                        </li>
                        <li class="qna-li">
                            <span class="qna-li-q">
                                 <img src="../assets/icon/qna-mark.svg" alt="q아이콘">ERP와 ERP Lite의 차이점은 무엇인가요?
                                 <span class="open-btn">
                                    <img src="../assets/icon/qna-arrow.svg" alt="아이콘">
                                 </span>
                            </span>
                            <span class="qna-li-a">
                                <span class="qna-li-a-text">
                                    비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 
                                </span>
                            </span>
                        </li>
                        <li class="qna-li">
                            <span class="qna-li-q">
                                 <img src="../assets/icon/qna-mark.svg" alt="q아이콘">ERP와 ERP Lite의 차이점은 무엇인가요?
                                 <span class="open-btn">
                                    <img src="../assets/icon/qna-arrow.svg" alt="아이콘">
                                 </span>
                            </span>
                            <span class="qna-li-a">
                                <span class="qna-li-a-text">
                                    비즈비 ERP는 일하기 좋은 환경을 만드는 기업용 솔루션입니다. 고객 <br class="pc-show"/>니즈를 분석하여 기업 운영에 꼭 필요한 기능을 제공합니다. 
                                </span>
                            </span>
                        </li>
                    </ul>
                    <div class="pagenation">
                        <div class="pagenation-front">
                            <img src="../assets/icon/pagenation-double-arrow.svg" alt="맨앞으로">
                        </div>
                        <div class="pagenation-prev">
                            <img src="../assets/icon/pagenation-arrow.svg" alt="앞으로">
                        </div>
                        <ul class="pagenation-num-box">
                            <li class="pagenation-num active">1</li>
                            <li class="pagenation-num">2</li>
                            <li class="pagenation-num">3 </li>
                        </ul>
                        <div class="pagenation-next">
                            <img src="../assets/icon/pagenation-arrow.svg" alt="뒤로가기">
                        </div>
                        <div class="pagenation-back">
                            <img src="../assets/icon/pagenation-double-arrow.svg" alt="맨뒤로">
                        </div>
                    </div>
                </div>
                <div class="contents-box w">
                    <div class="one-on-one">
                        <div class="one-on-one-text">
                            자주하는 질문에서 원하는 답변을 얻지 못하셨나요? <br>
                        1:1 문의하기를 이용해 보세요.
                        </div>
                        <button class="yel btn middle max-w center"><a href="./oneOnOne.html">1:1 문의하기</a></button>
                    </div>
                </div>
            </div>
            <div class="popup-container">
                <div class="popup-bg"></div>
                <div class="popup-change pw-change">
                    <div class="popup-header">
                        <span class="popup-header-title">
                            비밀번호 변경
                        </span>
                        <button class="popup-header-close">
                            <img src="../assets/icon/close-x.svg" alt="닫기">
                        </button>
                    </div>
                    <div class="popup-body">
                        <div class="contents-form">
                            <div class="contents-form-row">
                                <div class="contents-form-input-box">
                                    <span class="contents-form-input-title">
                                        새 비밀번호
                                    </span>
                                    <div class="contents-form-input">
                                        <input type="text" placeholder="새 비밀번호를 입력해 주세요">
                                    </div>
                                    <span class="tip">8~30자리 영문 대/소문자, 숫자 및 특수문자 조합</span>
                                </div>
                            </div>
                            <div class="contents-form-row">
                                <div class="contents-form-input-box">
                                    <span class="contents-form-input-title">
                                        새 비밀번호
                                    </span>
                                    <div class="contents-form-input">
                                        <input type="text" placeholder="새 비밀번호를 한 번 더 입력해 주세요">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-btn-box">
                            <button class="middle yel btn" disabled>저장</button>
                        </div>
                    </div>
                </div>
                <div class="popup-change email-change">
                    <div class="popup-header">
                        <span class="popup-header-title">
                            이메일 변경
                        </span>
                        <button class="popup-header-close">
                            <img src="../assets/icon/close-x.svg" alt="닫기">
                        </button>
                    </div>
                    <div class="popup-body">
                        <div class="contents-form">
                            <div class="contents-form-row">
                                <div class="contents-form-input-box">
                                    <span class="contents-form-input-title">
                                        이메일
                                    </span>
                                    <div class="contents-form-input">
                                        <input type="text" placeholder="변경할 이메일을 입력해 주세요">
                                        <button class="contents-form-input-btn">인증번호 받기</button>
                                    </div>

                                </div>
                            </div>
                            <div class="contents-form-row">
                                <div class="contents-form-input-box">
                                    <span class="contents-form-input-title">
                                        인증번호 확인
                                        <span class="title-tip">
                                            인증번호는 메일 수신 후 10분간 유효합니다.
                                        </span>
                                    </span>
                                    <div class="contents-form-input add-time">
                                        <div class="contents-form-input-time-box">
                                            <input type="text" placeholder="이메일 인증번호를 입력해 주세요">
                                            <span class="input-time">
                                                9:59
                                            </span>
                                        </div>
                                        <button class="contents-form-input-btn">인증하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-btn-box">
                            <button class="middle yel btn" disabled>저장</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>
<script src="../script/main.js"></script>
<script src="../script/sub.js"></script>