
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="bizbeeOffice">
    <!-- <meta property="og:url" content="https://스마트비즈.com"> -->
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../../assets/og-img.png">
    <meta property="og:description" content="기업경영 솔루션 개발.  IT솔루션, 경영컨설팅, 사이트구축/운영, 시스템유지보수">
    <title>Bizbee Office</title>
    <link rel="stylesheet" href="../signUpStyle/css/link.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="login-wrap">
    <header class="header">
        <div class="max-container">
            <div class="logo">
                <img src="../assets/icon/logo.svg" alt="로고">
            </div>
            <button class="close-btn">
                <img src="../assets/icon/close-x.svg" alt="닫기 버튼">
            </button>
        </div>
    </header>
    <span class="login-form-title">
             회원가입
        </span>
    <div class="terms-form active">
        <div class="max-container">
            <div class="terms-form-title">
                약관 동의
            </div>
            <div class="terms-input-box">
                <div class="terms-input-row first">
                    <label class="checkbox">
                        <input type="checkbox" class="all-check" >
                        <span class="checkbox_icon"></span>
                        <span class="checkbox_text">모든 약관에 동의</span>
                    </label>
                </div>
                <div class="terms-input-row">
                    <label class="checkbox ">
                        <input type="checkbox" class="essential-check" id="termsConsent">
                        <span class="checkbox_icon"></span>
                        <span class="checkbox_text">[필수] 이용약관 동의</span>
                    </label>
                    <button class="terms-btn" onclick="consentPopupOpen(0)">
                        보기
                        <img src="../assets/icon/terms-arrow.svg" alt="버튼">
                    </button>
                </div>
                <div class="terms-input-row">
                    <label class="checkbox">
                        <input type="checkbox" class="essential-check" id="perConsent">
                        <span class="checkbox_icon"></span>
                        <span class="checkbox_text">[필수] 개인정보 수집 및 이용 동의</span>
                    </label>
                    <button class="terms-btn" onclick="consentPopupOpen(1)">
                        보기
                        <img src="../assets/icon/terms-arrow.svg" alt="버튼">
                    </button>
                </div>
                <div class="terms-input-row">
                    <label class="checkbox">
                        <input type="checkbox" id="advConsent">
                        <span class="checkbox_icon"></span>
                        <span class="checkbox_text">[선택] 광고성 정보 수신 동의</span>
                    </label>
                    <button class="terms-btn" onclick="consentPopupOpen(2)">
                        보기
                        <img src="../assets/icon/terms-arrow.svg" alt="버튼">
                    </button>
                </div>
                <div class="terms-input-row last">
                    <label class="checkbox">
                        <input type="checkbox" id="the3AppYn">
                        <span class="checkbox_icon"></span>
                        <span class="checkbox_text">[선택] 개인정보 제3자 제공 동의</span>
                    </label>
                    <button class="terms-btn" onclick="consentPopupOpen(3)">
                        보기
                        <img src="../assets/icon/terms-arrow.svg" alt="버튼">
                    </button>
                </div>
            </div>
            <div class="popup-form-input">
                <div class="popup-btn-box">
                    <button class="btn w">
                        <a href="../index.html">
                            <img src="../assets/icon/btn-arrow.svg" alt="화살표">
                            이전
                        </a>
                    </button>
                    <button class="btn yel full check-btn" disabled onclick="nextTermsForm(1)">
                        다음
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="terms-form second ">
        <div class="max-container">
            <div class="terms-form-title">
                로그인 정보 <span class="tip"> <span class="c-r">* </span>표시는 필수 입력 항목입니다.</span>
            </div>
            <div class="terms-input-box">
                <div class="terms-input-col">
                        <span class="terms-input-col-title">
                            <span>아이디<span class="c-r"> *</span></span>
                        </span>
                    <div class="terms-input-col-box">
                        <input type="text" placeholder="아이디를 입력해 주세요" class="id-input input" id="userId">
                        <button class="btn g">중복 확인</button>
                    </div>
                </div>
                <div class="terms-input-col">
                            <span class="terms-input-col-title">
                                <span>비밀번호<span class="c-r"> *</span></span>
                                <span>8~30자리 영문 대/소문자, 숫자 및 특수문자 조합</span>
                            </span>
                    <div class="terms-input-col-box">
                        <input type="text" placeholder="비밀번호를 입력해 주세요" class="pw-input input" id="password">
                    </div>
                </div>
                <div class="terms-input-col">
                            <span class="terms-input-col-title">
                                <span>비밀번호 확인<span class="c-r"> *</span></span>
                            </span>
                    <div class="terms-input-col-box">
                        <input type="text" placeholder="비밀번호를 한 번 더 입력해 주세요" class="re-pw-input input">
                    </div>
                </div>
            </div>
            <div class="terms-form-title">
                개인 정보 <span class="tip"> <span class="c-r">* </span>표시는 필수 입력 항목입니다.</span>
            </div>
            <div class="terms-input-box">
                <div class="terms-input-col">
                            <span class="terms-input-col-title">
                                <span>이름<span class="c-r"> *</span></span>
                            </span>
                    <div class="terms-input-col-box">
                        <input type="text" placeholder="이름을 입력해 주세요" class="name-input input" id="userName">
                    </div>
                </div>
                <div class="terms-input-col">
                            <span class="terms-input-col-title">
                                <span>생년월일/성별 <span class="c-r"> *</span></span>
                                <span >8~30자리 영문 대/소문자, 숫자 및 특수문자 조합</span>
                            </span>
                    <div class="terms-input-col-box max-input">
                        <input type="text" placeholder="●●●●●●" class="
                                date-input input" id="birthday">
                        -
                        <span class="gender-input-box">
                                    <input type="text" placeholder="●" class="gender-input input" id="gender">
                                    <span>●</span>
                                    <span>●</span>
                                    <span>●</span>
                                    <span>●</span>
                                    <span>●</span>
                                    <span>●</span>
                                </span>
                    </div>
                </div>
                <div class="terms-input-col">
                        <span class="terms-input-col-title">
                            <span>방문 경로<span class="c-r"> *</span></span>
                        </span>
                    <div class="terms-input-col-box row">
                        <div class="select visit-path">
                            <div class="selected ">
                                <div class="selected-value input">선택</div>
                                <img src="../assets/icon/select.svg" alt="arrow" class="arrow">
                            </div>
                            <ul>
                                <li class="option">직접 방문</li>
                                <li class="option">지인 추천</li>
                                <li class="option">포털 검색</li>
                                <li class="option">SNS</li>
                                <li class="option">기타</li>
                            </ul>
                        </div>
                        <div class="etc-input-box"><input class="etc-input" type="text" placeholder="방문 경로를 입력해 주세요"></div>
                    </div>
                </div>
                <div class="terms-input-col">
                        <span class="terms-input-col-title">
                            <span>휴대폰 번호<span class="c-r"> *</span></span>
                        </span>
                    <div class="terms-input-col-box">
                        <input type="text" placeholder="숫자만 입력해 주세요" class="phne-input input" id="phoneNumber">
                    </div>
                </div>
                <div class="terms-input-col">
                            <span class="terms-input-col-title">
                                <span>이메일<span class="c-r"> *</span></span>
                            </span>
                    <div class="terms-input-col-box">
                        <input type="text" placeholder="이메일 주소를 입력해 주세요" class="email-input input" id="email">
                        <button class="btn g" onclick="emailPopToggle()">인증번호 받기</button>
                    </div>
                </div>
                <div class="terms-input-col">
                            <span class="terms-input-col-title">
                                <span>인증번호 확인<span class="c-r"> *</span></span>
                            </span>
                    <div class="terms-input-col-box">
                        <input type="text" placeholder="이메일 인증번호를 입력해 주세요" class="email-certification-input input">
                        <button class="btn g" disabled>인증하기</button>
                    </div>
                </div>
            </div>
            <div class="popup-form-input">
                <div class="popup-btn-box">
                    <button class="btn w" onclick="nextTermsForm(0)">
                        <img src="../assets/icon/btn-arrow.svg" alt="화살표">
                        이전
                    </button>
                    <button class="btn yel full" onclick="validateForm()">
                        회원 가입하기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="terms-form third">
        <div class="max-container">
            <div class="sign-complete">
                <img src="../assets/icon/sign-complete.svg" alt="가입성공">
                <span>회원가입이 완료되었습니다!</span>
            </div>
            <div class="popup-form-input">
                <div class="popup-btn-box">
                    <button class="btn yel full">
                        <a href="/home">
                            비즈비 오피스 시작하기
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup-container">
    <div class="popup-bg"></div>
    <div class="consent-popup tos">
        <div class="consent-popup-header">
                <span class="consent-popup-title">
                    이용약관 동의
                </span>
            <button class="popup-close" onclick="consentPopupClose()">
                <img src="../assets/icon/close-x.svg" alt="">
            </button>
        </div>
        <div class="consent-popup-body ">
            <div class="consent-popup-body-title">
                [필수] 이용약관 동의
            </div>
            <div class="consent-popup-body-content">
                    <span class="consent-popup-body-content-title">
                        제 1장 - 총칙
                    </span>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 1 조 (목적)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 2 조 (약관의 효력과 변경)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  이 약관은 인터넷사이트에 공지하거나 전자우편, 기타의 방법으로 이용자에게 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ②  당사는 이 약관을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ③  이 약관의 내용은 서비스가 이루어지는 주사이트(smart- esign.com)에 항상 게시됩니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 3 조 (약관 외 준칙)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관에 명시되지 아니한 사항에 대하여는 관계 법령 및 기타 관습에 따릅니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 4 조 (용어의 정의)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  회원 : 당사와 서비스 이용에 관한 계약을 체결한 모든 이용자로 회사관리자와 회사이용자, 개인이용자로 구분됩니다.
                        </span>
                </div>
            </div>
            <button class="btn yel m-500" onclick="consentPopupClose()">확인</button>
        </div>
    </div>
    <div class="consent-popup privacy">
        <div class="consent-popup-header">
                <span class="consent-popup-title">
                    개인정보 수집 및 이용 동의
                </span>
            <button class="popup-close" onclick="consentPopupClose()">
                <img src="../assets/icon/close-x.svg" alt="">
            </button>
        </div>
        <div class="consent-popup-body ">
            <div class="consent-popup-body-title">
                [필수] 개인정보 수집 및 이용 동의
            </div>
            <div class="consent-popup-body-content">
                    <span class="consent-popup-body-content-title">
                        제 1장 - 총칙
                    </span>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 1 조 (목적)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 2 조 (약관의 효력과 변경)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  이 약관은 인터넷사이트에 공지하거나 전자우편, 기타의 방법으로 이용자에게 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ②  당사는 이 약관을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ③  이 약관의 내용은 서비스가 이루어지는 주사이트(smart-esign.com)에 항상 게시됩니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 3 조 (약관 외 준칙)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관에 명시되지 아니한 사항에 대하여는 관계 법령 및 기타 관습에 따릅니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 4 조 (용어의 정의)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  회원 : 당사와 서비스 이용에 관한 계약을 체결한 모든 이용자로 회사관리자와 회사이용자, 개인이용자로 구분됩니다.
                        </span>
                </div>
            </div>
            <button class="btn yel m-500" onclick="consentPopupClose()">확인</button>
        </div>
    </div>
    <div class="consent-popup info">
        <div class="consent-popup-header">
                <span class="consent-popup-title">
                    이용약관 동의
                </span>
            <button class="popup-close" onclick="consentPopupClose()">
                <img src="../assets/icon/close-x.svg" alt="">
            </button>
        </div>
        <div class="consent-popup-body ">
            <div class="consent-popup-body-title">
                [선택] 광고성 정보 수신 동의
            </div>
            <div class="consent-popup-body-content">
                    <span class="consent-popup-body-content-title">
                        제 1장 - 총칙
                    </span>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 1 조 (목적)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 2 조 (약관의 효력과 변경)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  이 약관은 인터넷사이트에 공지하거나 전자우편, 기타의 방법으로 이용자에게 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ②  당사는 이 약관을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ③  이 약관의 내용은 서비스가 이루어지는 주사이트(smart-esign.com)에 항상 게시됩니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 3 조 (약관 외 준칙)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관에 명시되지 아니한 사항에 대하여는 관계 법령 및 기타 관습에 따릅니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 4 조 (용어의 정의)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  회원 : 당사와 서비스 이용에 관한 계약을 체결한 모든 이용자로 회사관리자와 회사이용자, 개인이용자로 구분됩니다.
                        </span>
                </div>
            </div>
            <button class="btn yel m-500" onclick="consentPopupClose()">확인</button>
        </div>
    </div>
    <div class="consent-popup others">
        <div class="consent-popup-header">
                <span class="consent-popup-title">
                    개인정보 제3자 제공 동의
                </span>
            <button class="popup-close" onclick="consentPopupClose()">
                <img src="../assets/icon/close-x.svg" alt="">
            </button>
        </div>
        <div class="consent-popup-body ">
            <div class="consent-popup-body-title">
                [필수] 개인정보 제3자 제공 동의
            </div>
            <div class="consent-popup-body-content">
                    <span class="consent-popup-body-content-title">
                        제 1장 - 총칙
                    </span>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 1 조 (목적)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관은 스마트비즈 주식회사 (이하 "당사"라 합니다)가 제공하는 전자계약시스템 서비스(이하 "서비스"라 합니다)를 이용함에 있어서 당사와 정보이용자(이하 "이용자"라 합니다)간의 서비스 이용 방법 및 기타 필요한 사항을 규정합니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 2 조 (약관의 효력과 변경)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  이 약관은 인터넷사이트에 공지하거나 전자우편, 기타의 방법으로 이용자에게 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ②  당사는 이 약관을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.
                        </span>
                    <span class="consent-popup-body-content-text">
                            ③  이 약관의 내용은 서비스가 이루어지는 주사이트(smart-esign.com)에 항상 게시됩니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 3 조 (약관 외 준칙)
                        </span>
                    <span class="consent-popup-body-content-text">
                            이 약관에 명시되지 아니한 사항에 대하여는 관계 법령 및 기타 관습에 따릅니다.
                        </span>
                </div>
                <div class="consent-popup-body-content-box">
                        <span class="consent-popup-body-content-sub-title">
                            제 4 조 (용어의 정의)
                        </span>
                    <span class="consent-popup-body-content-text">
                            ①  회원 : 당사와 서비스 이용에 관한 계약을 체결한 모든 이용자로 회사관리자와 회사이용자, 개인이용자로 구분됩니다.
                        </span>
                </div>
            </div>
            <button class="btn yel m-500" onclick="consentPopupClose()">확인</button>
        </div>
    </div>
    <div class="popup popup-fail-search email-popup">
        <img src="../assets/icon/email.svg" alt="이메일">
        <span class="popup-fail-search-text">
                가입된 정보기 일치하지 않습니다.
            </span>
        <button class="btn yel" onclick="emailPopToggle()">
            확인
        </button>
    </div>
</div>
</body>
</html>
<script src="../script/signUpMain.js"></script>
