$mc:#FFD230 ;
$w: #fff;
$b: #000;

@function px($size) {
    @return calc(calc($size / 16)  *  1rem);
    }


@mixin laptop {
    @media (max-width: 1300px) {
        @content
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
    
@mixin mobile {
@media  (max-width: 768px ) {
    @content;
    }
}